<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="eureka-server"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [${appName:-},%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <mdc>
                    <excludeMdcKeyName>traceId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanId</excludeMdcKeyName>
                </mdc>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <springProfile name="default,prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.bank.eurekaserver" level="INFO"/>
        <logger name="com.netflix.eureka" level="INFO"/>
        <logger name="com.netflix.discovery" level="INFO"/>
    </springProfile>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.bank.eurekaserver" level="DEBUG"/>
        <logger name="com.netflix.eureka" level="DEBUG"/>
        <logger name="com.netflix.discovery" level="DEBUG"/>
        <logger name="org.springframework.cloud" level="DEBUG"/>
    </springProfile>
</configuration>
